         <h1><%= @topic.title %></h1>
      
      <div class="well" id="well">
        <br>
        <% if @topic.agreements.count > 0 %>
          <div id="new_agreement"></div>
          <div id="agreement_content">
            <%= render 'shared/agreement_box' %>
          </div>
          <div id="voting_buttons">
            <%= render 'shared/voting_buttons' %>
          </div>



          <% if signed_in? %>
              <p>
                <%= link_to user_path(current_user, :topic => @topic.id) do %>
                    <div id="agreementcount", align="right">
                      <font color="bf5803" size=4>  
                          <font size=10><%= number_of_agreements_for_user(current_user) %></font> agreements
                      </font>
                    </div>
                <% end %>
              </p>
          <% end %>
      <% else %>
          <p><h3>This is a brand new topic. </h3></p><br><br>
      <% end %>
    </div>




      <% if signed_in? %>
          <%= render 'shared/post_agreement' %>
      <% else %>
          Sign in to post your own agreements!
      <% end %>




