


<h1><%= @topic.title %>: Voting</h1>

      <div class="well" id="well">
        <br>

      <% if @topic.agreements.count > 0 %>

              <% if agreements_left_in_topic_for_user(current_user, @topic) == 0 %>
                  <% flash.now[:info]="Congratulations, you've voted on everything in #{@topic.title}. Post something new!" %>
              <% end %>

          <div id="new_agreement"></div>
          <div id="agreement_content">
            <%= render 'shared/agreement_box' %>
          </div>
          <div id="voting_buttons">
            <%= render 'shared/voting_buttons' %>
          </div>



          <% if signed_in? %>
              <p>
                <%= link_to user_path(current_user, :topic => @topic.id) do %>

                  <% float_complete = (@topic.agreements.count - agreements_left_in_topic_for_user(current_user, @topic)) * 100.0 / @topic.agreements.count %>
                  <% if float_complete == 100 %>
                        <div class="progress progress-info">
                          <div class="bar" style="width: <%=float_complete%>%;">
                          </div>
                        </div>
                  <% else %>
                        <div class="progress progress-striped active progress-info">
                            <div class="bar" style="width: <%=float_complete%>%;"> </div>
                        </div>
                  <% end %>


                <% end %>
              </p>
          <% end %>
      

      <% else %>

          <p><h3>This is a brand new topic. </h3></p><br><br>

      <% end %>

    </div>




      <% if signed_in? %>
          <%= render 'shared/post_agreement' %>
      <% else %>
          Sign in to post your own agreements!
      <% end %>




