 <div class="row">
    <aside class="span3">
      <section>


			<% if signed_in? %>

			  <%= render 'shared/home_logged_in' %>

			<% else %>

			  <%= render 'shared/home_not_logged_in' %>

			<% end %> 


      </section>
      <section>
            this is just a line of filler
      </section>
      <section>
            this is another line of filler
      </section>

      <h2><p align=right>Agreements > </p></h2>
      <h2><p align=right>Analysis</p></h2>

    </aside>




    <div class="span9">
      <div class="hero-unit">
        <h1><%= @topic.title %></h1> <br><br>
        <% if @topic.agreements.count > 0 %>
      		<h3><%= @agreement.user.name %><h3><br>
          <h2><%= @agreement.content %></h2>
          here will be buttons for all the possible votes using something like @vote
        <% end %>
      </div>

      <% if signed_in? %>

        <%= render 'shared/post_agreement' %>

      <% end %>



    </div>
</div>




