<% provide(:title, "Edit user") %>


 <div class="row">
    <aside class="span3">
      <section>


			<% if signed_in? %>

			  <%= render 'shared/home_logged_in' %>

			<% else %>

			  <%= render 'shared/home_not_logged_in' %>

			<% end %> 


      </section>


    </aside>




    <div class="span9">

		<h1>Update your profile</h1>
 

	    <%= form_for(@user) do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	    <% end %>

		<%= gravatar_for @user %>
		<%= link_to "change", "http://gravatar.com/emails", target: "_blank" %>
	</div>
</div>

