<% provide(:title, 'All users') %>




<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for(current_user, size: 100) %>
        <%= current_user.name %>
      </h1>
    </section>
  </aside>

  	<div class="span9">

		<h1>All users</h1>

		<%= will_paginate %>

		<ul class="users">
			<%= render @users %>
		</ul>

		<%= will_paginate %>

	</div>


</div>












