
<%= form_for(@topic.agreements.build) do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Don't see what you're looking for? Write your own agreement!", 
		cols: 80, rows: 2, maxlength: 140 %>
	</div>
	<div><%= f.hidden_field :user_id, value: current_user.id %></div>
	<div><%= f.hidden_field :topic_id, value: @topic.id %></div>
	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

