

<section>


			<%= link_to image_tag("logo.jpg", :size => "160x160"), root_path %>
			
	<% if signed_in? %>

			<a href="<%= edit_user_path(current_user) %>">
				<h3>
					<span>
				  	Logged in as <h2>@<%= current_user.twitter_handle %></h2>
					</span>
				</h3>
			</a>
      		<h4><%= link_to current_user do %>
      				<font color=black>My Agreements</font>
      			<% end %>
      		</h4>

</section>


	<% else %>

	      <section>
	            <h4>
	            	For the full experience, you really should be signed in.<br>
		            <p></p>
		            	<%= link_to "Sign in with Twitter", signup_path, class: "btn btn-large btn-primary" %>
		        	<p></p>
		        	We promise you won't regret it. 
		        </h4>
	        </section>


	<% end %> 


<section>

			<h2><p align="center">
  				<%  if request.fullpath == "#{analysis_path(@topic.slug)}" %>
      				<%= link_to "Topic Agreements", mainpage_path(@topic.slug) %><br><br>
  				<%  elsif request.fullpath.include? "/#{@topic.slug}" %>
      				<%= link_to "Topic Analyis", analysis_path(@topic.slug) %>
      			<% end %>
			</p></h2>
			</span>
</section>