
		
	<%= form_for(:votes, url: voting_path, remote: true) do |f| %>
		<% if signed_in? %>
			<div><%= f.hidden_field :voter_id, value: current_user.id %></div>
		<% end %>
		<div><%= f.hidden_field :voteable_id, value: @agreement.id %></div>
		


			<table width=100%>
				<tr width=100%>
					<td width=40%>
						<div id="tweet_button"><%= render 'shared/tweet_button' %></div>
					</td>
					<td width=60%>
						<h3>I agree, and this point is: </h3>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div class="btn-group">
							<p align="right">
							<%= f.submit "Trivial", class: "btn btn-large btn-warning", id: 'Low' %>
							<%= f.submit "Relevant", class: "btn btn-large btn-info", id: 'Medium' %>
							<%= f.submit "Essential", class: "btn btn-large btn-success", id: 'High' %>
							</p>
						</div>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= f.submit "Skip", class: "btn btn-large", id: 'Skip' %>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= f.submit "Disagree", class: "btn btn-danger", id: 'Disagree' %><br>
							<% if signed_in? %>
								<% unless current_vote_for_helper(current_user, @agreement).nil? then %>
									You're current vote on this agreement is: 
									<%= current_vote_for_helper(current_user, @agreement) %>
								<% end %>
							<% end %>
					</td>
				</tr>
			</table>



	<% end %>













