
		
	<%= form_for(:votes, url: voting_path) do |f| %>
		<% if signed_in? %>
			<div><%= f.hidden_field :voter_id, value: current_user.id %></div>
		<% end %>
		<div><%= f.hidden_field :voteable_id, value: @agreement.id %></div>
		


			<table width=100%>
				<tr width=100%>
					<td width=40%>
						<div id="tweet_button"><%= render 'shared/tweet_button' %></div>
					</td>
					<td width=60%>
						<h3><font color="#aaaaaa">I agree, and it's</font></h3>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div>
							<%= f.submit "Sorta", class: "btn btn-large btn-info", value: LOW %>
							<%= f.submit "Definitely", class: "btn btn-large btn-info", value: MEDIUM %>
							<%= f.submit "Extremely", class: "btn btn-large btn-info", value: HIGH %>
						</div>
						<h3><font color="#aaaaaa">important for <%= @topic.title %></font></h3><br><br>




							<%= f.submit "Skip", class: "btn", id: 'Skip' %>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= f.submit "Disagree", class: "btn btn-danger", id: 'Disagree' %><br>
							<% if signed_in? %>
								<% unless current_vote_for_helper(current_user, @agreement).nil? then %>
									Your current vote on this agreement is: 
									<%= current_vote_for_helper(current_user, @agreement) %>
								<% end %>
							<% end %>
					</td>
				</tr>
			</table>



	<% end %>













