<footer class="footer">
  <small>
    <a href="http://agreethepeople.com/">Agree the People</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/agreethepeople">Follow us</a></li>
    </ul>
    everything: <%= longlink = "http://#{request.host}:#{request.port.to_s + request.fullpath}" %><br>
    host and port: <%= "#{request.host}:#{request.port.to_s}" %><br>
    just full path: <%= "#{request.fullpath}" %><br>
  </nav>
  <br>
</footer>
