

<% unless @topic.nil? %>

	<section>
			<h3><p align="left">

      				<%= link_to image_tag("voting.jpg", :size => "25x25"), mainpage_path(@topic.slug),
      					{ id: "example", rel: "popover", placement: "bottom", title: "Voting" } %>
      					&nbsp;&nbsp;
      				<%= link_to image_tag("analysis.gif", :size => "25x25"), analysis_path(@topic.slug),
      					{ id: "example2", rel: "popover", placement: "bottom", title: "Analysis" } %>
						&nbsp;&nbsp;
      				<% if signed_in? %>
		      				<%= link_to image_tag("all.png", :size => "25x25"), all_agreements_path(@topic.slug),
		      					{ id: "example3", rel: "popover", placement: "bottom", title: "All Agreements" } %>
								&nbsp;&nbsp;
		      				<%= link_to image_tag("personal.png", :size => "25x25"), user_path(current_user, topic: @topic.id),
		      					{ id: "example4", rel: "popover", placement: "bottom", title: "My Agreements" } %>
	      			<% else %>
		      				<%= link_to image_tag("all.png", :size => "25x25"), '#',
		      					{ id: "example3", rel: "popover", placement: "bottom", title: "All Agreements" } %>
								&nbsp;&nbsp;
		      				<%= link_to image_tag("personal.png", :size => "25x25"), '#',
		      					{ id: "example4", rel: "popover", placement: "bottom", title: "My Agreements" } %>
	      			<% end %>



  				<%  if request.fullpath == "#{analysis_path(@topic.slug)}" %>
     			<%  elsif request.fullpath.include? "/#{@topic.slug}" %>
  				<%  elsif request.fullpath == "#{all_agreements_path(@topic.slug)}" %>
      			<% end %>
			</p></h4>
			</span>
	</section>
<% end %>





<section>

			<%= link_to image_tag("logo.jpg", :size => "160x160"), root_path %>
			



	<% if signed_in? %>
			
		<% if current_user.email=="replace-me-please@example.com" %>
			<a href="<%= edit_user_path(current_user) %>">
				<h3>
					<span><font size=3, color="#aaaaaa">
						<br>Complete your profile! <br><br><br>
					</font></span>
				</h3>
			</a>
      	<% else %>
			<a href="<%= user_path(current_user) %>">
				<span>
					<font size=5, color="#aaaaaa">@<%= current_user.twitter_handle %></font><br><br>
				</span>
			</a>
		<% end %>


			<h4>	
				<%= link_to current_user do %>
	      				<font color=black size=4>You have <%= pluralize(current_user.points, "point") %>!</font>
	      		<% end %>
      		</h4>

</section>


	<% else %>

	      <section>
	            <h4>
	            	For the full experience, you really should be signed in.<br>
		            <p></p>
		            	<%= link_to "Sign in with Twitter", signup_path, class: "btn btn-large btn-primary" %>
		        	<p></p>
		        	We promise you won't regret it. 
		        </h4>
	        </section>


	<% end %> 


<script src="/assets/javascript/bootstrap-tooltip.js"></script>  
<script src="/assets/javascript/bootstrap-popover.js"></script>  
<script>  
$(function ()  
{ $("#example").popover();  
  $("#example2").popover();  
  $("#example3").popover();  
  $("#example4").popover();  
});  
</script>  